/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2017, 1:07:34 PM
    Author     : eventhisone
*/

#Piano{
    -fx-text-fill: FireBrick;
    -fx-fill: FireBrick;
    -fx-stroke-width: 3px; 
}
#Harpsichord{
    -fx-text-fill: Tomato;
    -fx-fill: Tomato;
    -fx-stroke-width: 3px; 
}
#Marimba{
    -fx-text-fill: Gold;
    -fx-fill: Gold;
    -fx-stroke-width: 3px; 
}
#Organ{
    -fx-text-fill: Violet;
    -fx-fill: Violet;
    -fx-stroke-width: 3px; 
}
#Accordion{
    -fx-text-fill: MediumAquamarine;
    -fx-fill: MediumAquamarine; 
    -fx-stroke-width: 3px; 
}
#Guitar{
    -fx-text-fill: SeaGreen;
    -fx-fill: SeaGreen;
    -fx-stroke-width: 3px; 
}
#Violin{
    -fx-text-fill: Teal;
    -fx-fill: Teal;
    -fx-stroke-width: 3px; 
}
#FrenchHorn{
    -fx-text-fill: MediumVioletRed;
    -fx-fill: MediumVioletRed;
    -fx-stroke-width: 3px; 
}
#staffLine{
    -fx-stroke: Grey;
}
#measureLine{
    -fx-stroke: LightGrey;
}
#redBar{
    -fx-fill: Red;
}
#selectionWindow{
    -fx-fill: None;
    -fx-stroke-width: 3px; 
    -fx-stroke: Aqua; 
}
/*
#selectedNote{
    -fx-fill: None;
    -fx-stroke-width: 3px; 
    -fx-stroke: Aqua; 
}
#unselectedNote{
    -fx-fill: None;
    -fx-stroke-width: 3px; 
    -fx-stroke: LightGrey; 
}
*/