/* 
    TuneComposer.css creates the style sheet for the scene.
    Author: Emma Twersky
*/

/* Sets colors for each of the eight instrument's text and note bars. */
#Piano{
    -fx-text-fill: FireBrick;
    -fx-fill: FireBrick;
}

#Harpsichord{
    -fx-text-fill: Tomato;
    -fx-fill: Tomato;
}

#Marimba{
    -fx-text-fill: Goldenrod;
    -fx-fill: Goldenrod;
}

#Organ{
    -fx-text-fill: MediumAquamarine;
    -fx-fill: MediumAquamarine; 
}

#Accordion{
    -fx-text-fill: SeaGreen;
    -fx-fill: SeaGreen;  
}

#Guitar{
    -fx-text-fill: CornflowerBlue;
    -fx-fill: CornflowerBlue;
}

#Violin{
    -fx-text-fill: Violet;
    -fx-fill: Violet;
}

#FrenchHorn{
    -fx-text-fill: MediumVioletRed;
    -fx-fill: MediumVioletRed;
}

/* Sets style for the selected and unselected note attributes. */
.selectedNote{
    -fx-stroke-width: 3px; 
    -fx-stroke: Aqua; 
}

.unselectedNote{
    -fx-stroke-width: 2px; 
    -fx-stroke: LightGrey; 
}


.selectedGesture{
    -fx-stroke-width: 2px;
    -fx-stroke: Aqua;
    -fx-fill: Transparent;
    -fx-stroke-dash-array: 1 5 4 2;
}

.unselectedGesture{
    -fx-stroke-width: 2px;
    -fx-stroke: DarkGrey;
    -fx-fill: Transparent;
    -fx-stroke-dash-array: 1 5 4 2;
}

/* Sets ID for staff and measure lines. */
#staffLine{
    -fx-stroke: Grey;
}

#measureLine{
    -fx-stroke: LightGrey;
}

/* Sets style for the red bar. */
#RED_BAR{
    -fx-fill: Red;
}

/* Sets selection window style. */
#SELECTION_WINDOW{
    -fx-fill: None;
    -fx-stroke-width: 3px; 
    -fx-stroke: Aqua; 
}