/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2017, 1:07:34 PM
    Author     : eventhisone
*/

#Piano{
    -fx-text-fill: red;
    -fx-fill: red;
}
#Harpsichord{
    -fx-text-fill: blue;
    -fx-fill: blue;
}
#Marimba{
    -fx-text-fill: gold;
    -fx-fill: gold;
}
#Organ{
    -fx-text-fill: black;
    -fx-fill: black;
}
#Accordion{
    -fx-text-fill: green;
    -fx-fill: green;  
}
#Guitar{
    -fx-text-fill: orange;
    -fx-fill: orange;
}
#Violin{
    -fx-text-fill: purple;
    -fx-fill: purple;
}
#FrenchHorn{
    -fx-text-fill: lightgreen;
    -fx-fill: lightgreen;
}

#staffLine{
    -fx-stroke: grey;
}

#measureLine{
    -fx-stroke: lightgrey;
}

#redBar{
    -fx-fill: red;
}